{% extends 'todo/layout.html' %}

{% block content %}
    <div class="row justify-content-center mt-5">
        <div class="col-md-10">
            {% if todos.count %}
                <h2>{{ todos.count }} Current Task{{ todos.count | pluralize }}</h2>
            {% else %}
                <h2>Current Task</h2>
            {% endif %}
        </div>
    </div>
    <div class="row justify-content-center mt-5">
        <div class="col-md-10">
            {% if todos %}
                <div class="list-group">

                </div>
            {% else %}

            {% endif %}
        </div>
    </div>
{% endblock %}